.jumbotron h1 {
	color: #337ab7;
}

.marketing h4 {
	color: #337ab7;
}

.index-table td {
	width: auto;
	padding: 5px 5px;
	text-align: center;
}

.index-table img {
	border-radius: 25px;
	border: 3px solid #337ab7;
}

.biography-table {
	margin: 20px 0px;
}

.biography-table td {
	padding: 10px;
}
.resume {
	color: #337ab7;
}